<form id="marksheet-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    
</form>

{% comment %} Question a  {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#marksheet-form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "ajax_save_marksheet" %}',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.success) {
                        $('#form-messages').text('MarkSheet saved successfully.');
                        $('#marksheet-form')[0].reset();
                    } else {
                        $('#form-messages').text('Error: ' + JSON.stringify(data.errors));
                    }
                }
            });
        });
    });
</script>




{% comment %} Question-b  {% endcomment %}
$(document).ready( function () {
    $('#student-table').DataTable({
        "serverSide": true,
        "ajax": {
            "url": "/get_students/",  
            "dataSrc": "data",
        },
        "columns": [
            { "data": "student_name" },
            { "data": "roll_no" },
            { "data": "score1" },
            { "data": "score2" },
            { "data": "score3" },
            { "data": "score4" },
            { "data": "score5" },
        ],
        "pagingType": "full_numbers", 
    });
});



<div id="form-messages"></div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
